<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>water mask</title>
</head>
<body>

<style>
	img {width: 500px;}
</style>

<div id="image-box">
	<!-- <img :src="item" v-for="item in sourceList"> -->
	<img :src="item" v-for="item in outputImages">
</div>


<script src="https://cdn.bootcss.com/vue/2.3.4/vue.min.js"></script>
<script src="./js/waterMask.js"></script>


<script>
	const wm = new Watermask ({
		maskImage: '../../statics/watermask.jpeg',
		position: {
			horizontal: 'right',
			vertical: 'bottom',
		},
		scale: 0.05,
		margin: 100
	})

	const page = new Vue ({
		el: '#image-box',
		data: {
			sourceList: [
				'../../statics/girl.jpg',
				'../../statics/grass.jpg',
				'../../statics/japan.jpg'
			],
			outputImages: []
		}
	})

	let index = 0
	wm.setStatusListener( (status) => {
		if (status == 1 && index < page.sourceList.length) {
			wm.setSourceImage([page.sourceList[index]])
			index = index + 1
		} 
		if (status == 3) page.outputImages.push(wm.getWatermaskImage().map( (item) => item.src || item ))
	} )

	
</script>

</body>
</html>